@import '../../variable.scss';

.home-page {
  padding: 124px 6%;

  @media (max-width: 768px) {
    padding-inline: 4%;
  }

  .page-header {
    display: inline-flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: Assistant;
    position: sticky;
    top: 0;
    background-color: $tickchakBackgroundDark;
    z-index: 1;
    padding: 10px;
    width: 100%;

    .buttons {
      width: 50%;
      min-width: 330px;
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .icon-btn {
      background-color: transparent;
      border: none;
      &.plus {
        cursor: pointer;
      }
      &.search {
        cursor: not-allowed;
      }
      img {
        width: 40px;
      }
    }

    .title {
      font-size: 25pt;
    }

    .text {
      font-size: 16pt;
    }
  }

  .ticket-list-container {
    display: flex;
    flex-wrap: wrap;
  }

  .page-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    .load-more {
      font-size: 16pt;
      color: #ffffff;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
  }
}
