.ticket {
    background-color: #FFFFFF;
    width: 30%;
    min-width: 330px;
    height: 114px;
    border: 3px solid black;
    margin: 5px;
    display: flex;
    gap: 13px;
    border-radius: 8px;
    justify-content: space-between;

    &:hover {
        .percent {
            width: 30%;
        }
    }
    
    .percent {
        height: 114px;
        width: 25%;
        transition: width .4s;
    }

    .content {
        flex-direction: column;
        display: flex;
        padding-top: 20px;

        .title {
            font-weight: bold;
            font-size: 16px;
        }

        .amount {
            font-size: 12pt;
            direction: rtl;
        }

        .price {
            font-size: 25pt
        }
    }

    .switch-wrapper {
        padding: 21px 12px 13px 24px;
        display: flex;
        align-items: flex-end;
    }
}